<configuration debug="true">

	<contextName>md010-cc-batch</contextName>


	<timestamp key="timeStamp" datePattern="yyyyMMdd'T'HHmmss"/>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%msg \(%thread\)%n</pattern>
		</encoder>
	</appender>


	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>